@import "tailwindcss";

body {
  box-sizing: border-box;
  margin: auto;
  padding: 30px 50px;
  max-width: 1920px;
  height: 100%;
  background-color: #0f0f0f;
}
#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@theme {
  --font-flex: "Roboto Flex", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}
@keyframes ticker-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-ticker-horizontal {
  animation: ticker-horizontal var(--ticker-duration) linear infinite;
}
